:root {
    /* Colors */
    --primary-color: #330C2F;
    --secondary-color: #BFACB5;
    --primary-color-light: #330c2fcd;
    --background-color: #E5D0CC;
    --text-color: #2C3E50;
    --text-color-light: #2c3e50a8;
    --light-gray: #ECF0F1;
    
    /* Fonts */
    --font-main: 'Lato', sans-serif;
    --font-title: 'Poiret One', sans-serif;
    
    /* Spacings & Dimensions */
    --spacing-small: 1rem;
    --spacing-medium: 1.25rem;
    --spacing-large: 2rem;
}

body {
    font-family: var(--font-main);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* GENERAL CONTAINER */

.container {
    max-width: 95rem;
    height: 100%;
    margin: 0 auto;
    padding: var(--spacing-medium);
    flex-grow: 1; 
}

/* HEADERS */

.header, 
.header-connected__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-small);
    padding: var(--spacing-small);
    background-color: var(--primary-color);
}

.header__logo, 
.header-connected__logo {
    max-width: 4rem;
    transition: transform 0.3s ease;
    margin: auto;
}

.header__logo:hover, 
.header-connected__logo:hover {
    transform: scale(1.05);
}

.header__nav {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    flex-direction: row-reverse;
}

.header__search-form,
.header-connected__search-form {
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
    border-radius: var(--spacing-medium);
    overflow: hidden;
    border: .1rem solid var(--secondary-color);
}

.header__search-input, 
.header-connected__search-input {
    border: none;
    padding: 0.5rem var(--spacing-small);
    width: 100%;
    background-color: transparent;
    outline: none;
}

.header__search-button, 
.header-connected__search-button {
    border: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.header__nav-link,
.header__nav-link-events {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem var(--spacing-small);
    border: 0.15rem solid var(--secondary-color);
    border-radius: var(--spacing-medium);
    transition: all 0.3s ease;
    margin: var(--spacing-small) 0;
    width: 100%;
    text-align: center;
}

.header__nav-link:hover,
.header__nav-link-disconnected {
    background-color: var(--primary-color-light);
    color: white;
}

.header-connected__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column-reverse;
}

.header__nav-link-disconnected {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem var(--spacing-small);
    border: 0.15rem solid var(--secondary-color);
    border-radius: var(--spacing-medium);
    transition: all 0.3s ease;
    margin: var(--spacing-small) 0;
    width: 100%;
    text-align: center;
}

/* FOOTER */

.footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: var(--spacing-large);
    text-align: center;
    flex-shrink: 0;
}

.footer__links {
    display: flex;
    justify-content: space-around;
    gap: var(--spacing-small);
}

.footer__link {
    color: white;
    text-decoration: none;
    font-size: var(--spacing-small);
    font-weight: bold;
}

.footer__link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .header__nav {
        flex-direction: row;
        justify-content: flex-end;
    }

    .header__nav-link,
    .header__nav-link-events {
        width: auto;
        margin: 0 var(--spacing-small);
    }

    .header__search-form {
        margin-bottom: 0;
        width: auto;
    }

    .header-connected__container {
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }

    .header-connected__nav {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: var(--spacing-small);
    }

    .header-connected__search-form {
        margin: 0 auto;
        width: 60%;
        max-width: 400px; 
    }

    .header__nav-link-disconnected {
        width: auto;
        margin: 0 var(--spacing-small);
    }

    .footer__links {
        flex-direction: row;
        justify-content: space-around;
    }
}


@media screen and (min-width: 1271px) {

    .header-connected__container {
        padding: var(--spacing-small) var(--spacing-medium);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-connected__logo {
        margin: 0;
    }

    .header-connected__nav {
        width: auto;
        margin: 0;
        flex: 1;
        justify-content: flex-end;
        gap: var(--spacing-medium);
    }

    .header-connected__search-form {
        width: auto;
        min-width: 250px;
        margin-left: var(--spacing-medium);
    }



}

