
/* CONTAINER */
.container{
    display: flex;
    height: auto;
    flex-direction: column-reverse;
}

/* EVENTS SECTION */
.events.connected {
    width: 100%; 
    gap: var(--spacing-small);
    margin-top: 0;
}

.events__title.connected {
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    color: var(--primary-color);
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: var(--spacing-small);
    margin-top: var(--spacing-large);
}

.events__list.connected {
    display: flex;
    gap: var(--spacing-large);
    background-color: var(--secondary-color);
    padding: var(--spacing-large);
    margin-bottom: 5rem;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.event.connected {
    background-color: white;
    border-radius: var(--spacing-small);
    transition: transform 0.3s ease;
}

.event.connected:hover {
    transform: scale(1.05);
}

.event.connected a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.event.connectedl > a > div {
    position: relative; 
}

.event.connected img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.event__theme.connected {
    position: absolute; 
    top: var(--spacing-small); 
    right: 0.7rem;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem var(--spacing-small);
    border-radius: var(--spacing-small);
    font-size: var(--spacing-small);
    font-weight: bold;
    border: 0.1rem solid var(--secondary-color);
}

.event__city.connected {
    text-align: center;
    padding: var(--spacing-small);
    font-family: 'Poiret One', sans-serif;
}

.event__description.connected {
    padding: var(--spacing-small);
    text-align: center;
}

/* PROFILS SECTION */
#profiles-list {
    display: grid;
    grid-template-columns: 1fr; 
    gap: var(--spacing-large);
    width: 90%;
}

.profils { 
    display: flex;
    flex-wrap: wrap; 
    gap: var(--spacing-large);
    justify-content: center;
    text-align: right;
    margin-bottom: var(--spacing-large);
    align-content: flex-start;
} 

.profils__title {
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    color: var(--primary-color);
    justify-content: center;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: var(--spacing-small);
    max-height: 4rem;
    margin-top: 2rem;
    margin-bottom: var(--spacing-small);
}

.profil {
    background-color: white;
    border-radius: var(--spacing-small);
    transition: transform 0.3s ease;
}

.profil:hover {
    transform: scale(1.05);
}

.profil a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.profil > a > div {
    position: relative; 
}

.profil img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.profil__old {
    position: absolute; 
    top: var(--spacing-small); 
    right: 0.7rem;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem var(--spacing-small);
    border-radius: var(--spacing-small);
    font-size: var(--spacing-small);
    font-weight: bold;
    border: 0.1rem solid var(--secondary-color);
}

.profil__name {
    text-align: center;
    padding: var(--spacing-small);
    font-family: 'Poiret One', sans-serif;
}

.profil__city {
    padding: var(--spacing-small);
    text-align: center;
    margin: var(--spacing-small);
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .container{
        flex-direction: row;
        justify-content: space-evenly;
    }
   
    .events.connected{
     width:30%;
    } 

    .profils{
        width: 65%;
    }

    .event.connected{
        width: 100%;
        margin: auto;
    }

    #profiles-list {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes à partir de 768px */
        gap: var(--spacing-large);
    }
}

@media screen and (min-width: 1024px) {

    .event.connected{
        width:100%;
    }

    
}
