/* sign-in.css */

/* Styles pour le formulaire de connexion */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: var(--spacing-large);
}

.email-label,
.password-label {
    font-size: var(--spacing-medium);
    color: var(--text-color);
    margin-bottom: var(--spacing-small);
    font-weight: bold;
}

.email-input,
.password-input {
    width: 100%;
    max-width: 25rem;
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
    border: 0.15rem solid var(--secondary-color);
    border-radius: var(--spacing-medium);
    font-size: var(--spacing-medium);
    color: var(--text-color);
    background-color: var(--light-gray);
    outline: none;
    transition: border-color 0.3s ease;
}

.email-input:focus,
.password-input:focus {
    border-color: var(--primary-color);
}

.sign-in__submit-btn {
    width: 100%;
    max-width: 25rem;
    padding: var(--spacing-small);
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--spacing-medium);
    font-size: var(--spacing-medium);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-in__submit-btn:hover {
    background-color: var(--primary-color-light);
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .container {
        padding: var(--spacing-medium);
    }

    .email-input,
    .password-input,
    .sign-in__submit-btn {
        max-width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .email-label,
    .password-label {
        font-size: var(--spacing-small);
    }

    .email-input,
    .password-input,
    .sign-in__submit-btn {
        font-size: var(--spacing-small);
    }
}