<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeniorLove - La plateforme de rencontre pour les seniors</title>
    <link rel="icon" href="../img/icon/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Yeseva+One&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Yeseva+One&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/base.css">
    <link rel="stylesheet" href="../CSS/admin.css">
    <script type="module" src="../js/test.js" defer></script>
</head>
<body>
    <header class="header">
        <a href="">
            <img class="header__logo" src="../img/logo/heart-2-removebg.png" alt="logo coeur">
        </a>
        <nav class="header__nav">
            <a href="" class="header__nav-link">Connexion</a>
        </nav>
        <form action="/" class="header__search-form">
            <input type="text" name="name" class="header__search-input" placeholder="Profil, évènement,.." aria-label="Rechercher un profil, un évènement">
            <button type="submit" class="header__search-button" aria-label="Rechercher"><img src="../img/icon/search-icon.svg" alt="icône de recherche" class="header__search-icon"></button>
        </form>
    </header>
    
    <main id="app" class="container">
<!-- 
        <template id="signin">  -->
					<div  class="sign-in">
						<form class="sign-in__form">
							<label for="email" class="email-label">Email</label>
							<input type="text" class="email-input" id="email" name="email" placeholder="Votre email..." required>
							<label for="password" class="password-label">Mot de passe</label>
							<input type="text" class="password-input" id="password" name="password" placeholder="Votre mot de passe ..." required>
							<button type="submit" value="Submit" class="sign-in__submit-btn">Se connecter</button>
						</form>
					</div>
        </template>
    
    </main>
   
</body>
</html>
