<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeniorLove - La plateforme de rencontre pour les seniors</title>
    <link rel="icon" href="../img/icon/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Yeseva+One&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Yeseva+One&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/reset.css" >
    <link rel="stylesheet" href="../CSS/homepage.connected.css">
    <link rel="stylesheet" href="../CSS/base.css">
    <script type="module" src="../js/index.js" ></script>
</head>

<body>
    <header class="header-connected__container">
        <a href="">
            <img class="header-connected__logo" src="../img/logo/heart-2-removebg.png" alt="logo coeur">
        </a>
            <nav class="header-connected__nav">
            <a href="#"  class="header__nav-link">Profils</a>
            <a href="#"  class="header__nav-link ">Évènements</a>
            <a href="#"  class="header__nav-link ">Messages</a>
            <a href="#"  class="header__nav-link ">Mon compte</a>
        </nav>
        <form action="/" class="header-connected__search-form">
            <input type="text" name="name" class="header-connected__search-input" placeholder="Profil, évènement,.." aria-label="Rechercher un profil, un évènement">
            <button type="submit" class="header-connected__search-button" aria-label="Rechercher"><img src="../img/icon/search-icon.svg" alt="icône de recherche" class="header-connected__search-icon"></button>
        </form>
    </header>

 <main class="container">
    <section>
      <h1>Mentions Légales</h1>

        <div>
            <h2>1. Éditeur du Site</h2>
            <p>
            <strong>Projet :</strong> SeniorLove<br>
            <strong>Nature du projet :</strong> Projet de formation<br>
            <strong>Équipe :</strong> Travail d'équipe de quatre étudiants<br>
            <strong>École :</strong> O'clock<br>
            <strong>Site de l'école :</strong> <a href="https://oclock.io/" target="_blank">https://oclock.io/</a><br>
            <strong>Membres de l'équipe :</strong><br>
            - [Nom et Prénom, Développeur full-stack]<br>
            - [Nom et Prénom, Développeuse full-stack]<br>
            - [Nom et Prénom, Développeuse full-stack]<br>
            - [Nom et Prénom, Développeur full-stack]<br>
            <strong>Adresse :</strong> [Adresse de l'école ou une adresse de contact dédiée au projet]<br>
            <strong>Email de contact :</strong> [Adresse email dédiée au projet]<br>
            </p>
            <p>
            <strong>Avertissement :</strong> Ce site est développé dans le cadre d’une formation à l’école O'clock et n’est pas destiné à un usage commercial. Les contenus présentés sur ce site sont à but pédagogique et éducatif.
            </p>
        </div>

        <div>
            <h2>2. Hébergeur du Site</h2>
            <p>
            <strong>Nom de l'hébergeur :</strong> [Nom de l'hébergeur]<br>
            <strong>Adresse :</strong> [Adresse complète de l'hébergeur]<br>
            <strong>Téléphone :</strong> [Numéro de téléphone de l'hébergeur]<br>
            </p>
        </div>

        <div>
            <h2>3. Propriété Intellectuelle</h2>
            <p>
            L’ensemble des contenus présents sur le site SeniorLove, incluant de manière non limitative les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme, sont la propriété collective des membres de l'équipe SeniorLove dans le cadre de leur projet de formation. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord écrit préalable des auteurs.
            </p>
        </div>

        <div>
            <h2>4. Protection des Données Personnelles</h2>
            <p>
            Conformément à la loi « Informatique et Libertés » du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD) (EU) 2016/679, vous disposez d’un droit d’accès, de rectification, de suppression et d’opposition aux données personnelles vous concernant.<br>
            Pour exercer ces droits, vous pouvez nous contacter à l'adresse suivante : [Adresse email de contact] ou par courrier à l'adresse mentionnée ci-dessus.
            </p>
            <p>
            Pour en savoir plus sur vos droits et la manière de les exercer, vous pouvez consulter le site de la <a href="https://www.cnil.fr/" target="_blank">CNIL</a>.
            </p>
        </div>

        <div>
            <h2>5. Cookies</h2>
            <p>
            Le site SeniorLove peut utiliser des cookies pour améliorer votre expérience de navigation, analyser le trafic du site et personnaliser le contenu. Vous pouvez gérer vos préférences en matière de cookies via les paramètres de votre navigateur.
            </p>
        </div>

        <div>
            <h2>6. Responsabilité</h2>
            <p>
            Bien que nous nous efforcions de fournir des informations exactes et à jour, nous ne pouvons garantir l'exactitude, la complétude ou l'actualité des contenus du site. SeniorLove décline toute responsabilité en cas d'erreurs ou d'omissions dans les contenus.
            </p>
            <p>
            SeniorLove ne saurait être tenu responsable des dommages directs ou indirects résultant de l’accès ou de l’utilisation du site, y compris l’inaccessibilité, les pertes de données, et interruptions.
            </p>
        </div>

        <div>
            <h2>7. Liens Hypertextes</h2>
            <p>
            Le site SeniorLove peut contenir des liens vers d’autres sites. SeniorLove n’a pas de contrôle sur ces sites et ne peut être tenu responsable de leur contenu ni des dommages ou préjudices qu’ils pourraient causer.
            </p>
        </div>

        <div>
            <h2>8. Droit Applicable</h2>
            <p>
            Les présentes mentions légales sont régies par le droit français. En cas de litige, les tribunaux français seront seuls compétents.
            </p>
        </div>

        <div>
            <h2>9. Modification des Mentions Légales</h2>
            <p>
            SeniorLove se réserve le droit de modifier, à tout moment et sans préavis, les présentes mentions légales afin de les adapter à toute évolution de son activité ou de son exploitation.
            </p>
        </div>
    </section>
 </main>

 <footer class="footer">
    <div class="footer__links">
      <a href="#" class="footer__link">Mentions légales</a>
      <a href="#" class="footer__link">Plan de site</a>
      <a href="#" class="footer__link">Protection de la vie privée et cookies</a>
      <a href="#" class="footer__link" >Contact</a>
      <p>&copy; 2024 SeniorLove. Tous droits réservés.</p>
    </div>
</footer>
</body>
</html>
